.features__list {
    @extend %list;
    // display: flex;
}

.features__item {

    @media screen and (max-width: 767px){
    &:not(:last-child) {
    margin-bottom: 30px;
    }
    }

    @media screen and (min-width: 1200px) {
    &:not(:last-child) {
    margin-right: 30px;
    }
    }

}

.features__wrapper {
    border-radius: 4px;

    @extend %flex;
    background-color: $color-bg-btn-section;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
    max-width: 450px;
    height: 120px;
}

    @media screen and (min-width: 1200px) {
    min-width: 270px;
    min-height: 120px;
}
}

.features__subtitle {
    @extend %subtitle;

    text-align: center;
}

.features__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    line-height: 1.71;

}