.footer-socials__list {
    @extend %list;
    @extend %flex;
}



.footer-socials__item {
    margin-right: 93px;

&:not(:last-child) {
  margin-right: 10px;
    }
}

.footer-socials__link {
    @extend %flex;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: $bgc-footer-icon;
    color: $primary-white-color;

    transition: background-color 250ms $cubic;

    &:hover,
    &:focus {
    background-color: $accent-color;
}
}

.footer-socials__subtitle {
  @extend %subtitle;

    color: $primary-white-color;
    margin-bottom: 20px;
}

.footer-socials__icon {
    fill: currentColor;
}

