.page-header {
    border-bottom: 1px solid $color-border-header;
}

// .header-nav {
//     display: flex;
//     align-items: center;
// }

    .header-nav {
        
    @media screen and (max-width: 767px) {

    display: flex;
    align-items: center;
    justify-content: space-between;
}
    }

