.portfolio {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
}

.portfolio__item {
    width: 370px;
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n) {
        margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
        margin-bottom: 0;
    }
}

.portfolio__link {
    @extend %link;
    display: block;
    transition: box-shadow 250ms $cubic;

    &:hover,
    &:focus {
    box-shadow: $box-shadow-portfolio;
}
}

.portfolio__link {

    &:hover .portfolio__description,
    &:focus .portfolio__description {
    transform: translateY(0);
    }
}

.portfolio__picture {
    display: block;
    width: 100%;
}

.portfolio__subtitle {
    margin-bottom: 4px;

    color: $secondary-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio__type {
    margin-bottom: 0;

    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
}

.portfolio__part {
    padding: 20px 24px;
    border-left: 1px solid $portfolio-card-border;
    border-right: 1px solid $portfolio-card-border;
    border-bottom: 1px solid $portfolio-card-border;
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__description {
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $portfolio-overlay;

    transform: translateY(100%);
    transition: background-color 250ms $cubic, transform 250ms $cubic;
}

.portfolio__text {
    position: absolute;
    top: 63px;
    left: 24px;

    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.56;
    color: $primary-white-color;

    transition: color 250ms $cubic;
}